.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.card {
    display: grid;
    gap: 35px;
    place-items: center;
    width: 420px;
    padding: 40px;
    border: 2px solid var(--border-light);
    background-color: var(--bg-overlay);
    border-radius: 10px;
}

.title {
    text-align: center;
}

.title h1 {
    color: var(--primary);
    font-size: 40px;
}

.title p {
    color: var(--text-main);
    font-size: 15px;
}

.form {
    display: grid;
    gap: 12px;
    width: 100%;
}

.form label {
    font-size: 14px;
    color: var(--text-main);
}

.form input {
    padding: 10px;
    border: 1px solid var(--border-light);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.form input:focus {
    border-color: var(--primary);
}

.login-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: var(--primary);
    color: var(--text-main);
    font-size: 15px;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.9;
}

.divider {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 4px 0;
    color: var(--text-light);
    font-size: 11px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--border-dark);
}

.auth-switch {
    text-align: center;
    font-size: 13px;
    color: var(--text-light);
    margin-top: 0;
    cursor: pointer;
}

.toggle-link {
    color: var(--link);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.toggle-link:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

.toggle-link:active {
    transform: scale(0.98);
}

.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 80px;
    background-color: var(--bg-card);
    border-left: 4px solid var(--link-hover);
    font-size: 20px;
    border-radius: 8px;
    color: var(--text-secondary);
    font-weight: 500;
    box-shadow: var(--shadow);
    z-index: 9999;
}
