.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/images/bgc\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    display: grid;
    gap: 35px;
    place-items: center;
    width: 420px;
    padding: 40px;
    border: 2px solid #F0F4F8;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.title {
    text-align: center;
}

.title h1 {
    color: #73CCF9;
    font-size: 40px;
}

.title p {
    color: #0A0A0F;
    font-size: 15px;
}

.form {
    display: grid;
    gap: 12px;
    width: 100%;
}

.form label {
    font-size: 14px;
    color: #0A0A0F;
}

.form input {
    padding: 10px;
    border: 1px solid #F0F4F8;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.form input:focus {
    border-color: #73CCF9;
}

.login-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #73CCF9;
    color: #0A0A0F;
    font-size: 15px;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.9;
}

.divider {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 4px 0;
    color: #7a7590;
    font-size: 11px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #d0d0d0;
}

.auth-switch {
    text-align: center;
    font-size: 13px;
    color: #7a7590;
    margin-top: 0;
    cursor: pointer;
}

.toggle-link {
    color: #4a90e2;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;

}

.toggle-link:hover {
    color: #357abd;
    text-decoration: underline;
}

.toggle-link:active {
    transform: scale(0.98);
}
