* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #2c42ae;
    width: 100%;
    padding: 15px;
}

.logo {
    color: #dcdcdc;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 16px 28px;
    min-width: 200px;
}

.greeting {
    color: #dcdcdc;
    font-weight: 500;
    font-size: 1.6rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
   
}

.typewriter-animation {
    animation:
        typewriter 1.5s steps(30) forwards,
        blinkingCursor 500ms steps(1) infinite;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }

}


.nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 28px;
}

.moon {
    font-size: 1.7rem;
    cursor: pointer;
}

.avatar {
    background-color: #5c6bc0;
    color: #dcdcdc;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}